<html xmlns:th="http://www.thymeleaf.org">

<-- Reference bootstrap css -->
<link rel="stylesheet"
		  th:href="@{/css/bootstrap-grid.css}" />
		  
<link rel="stylesheet"
		  th:href="@{/css/bootstrap-grid.min.css}" />

<link rel="stylesheet"
		  th:href="@{/css/bootstrap-reboot.css}" />

<link rel="stylesheet"
		  th:href="@{/css/bootstrap-reboot.min.css}" />
		  
<link rel="stylesheet"
		  th:href="@{/css/bootstrap.min.css}" />
		  
<link rel="stylesheet"
		  th:href="@{/css/bootstrap.css}" />
		  
<link rel="stylesheet"
		  th:href="@{/css/small-business.css}" />
		  
		  
		  
<h1 class="display-1"> test </h1>

</html>