<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" th:href="@{/css/bootstrap-grid.css}" />

<link rel="stylesheet" th:href="@{/css/bootstrap-grid.min.css}" />

<link rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}" />

<link rel="stylesheet" th:href="@{/css/bootstrap-reboot.min.css}" />

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />

<link rel="stylesheet" th:href="@{/css/small-business.css}" />


<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Wrench Marketplace</title>

</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}">WRENCH MARKETPLACE</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<form th:action="@{/}">
						<li class="nav-item"><button class="btn btn-dark">Home
							</button></li>
					</form>
					<div class="collapse navbar-collapse"
						sec:authorize="!hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">

						<form th:action="@{/showLogin}">
							<li class="nav-item"><button class="btn btn-dark">Login
								</button></li>
						</form>
						<form th:action="@{/users/createNewUser}">
							<li class="nav-item"><button class="btn btn-dark">Register
								</button></li>
						</form>
					</div>
					<div class="collapse navbar-collapse"
						sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">

						<form th:action="@{/listings/createNewListing}">
							<li class="nav-item"><button class="btn btn-dark">Create
									new listing</button></li>
						</form>
						<form th:action="@{listings/search/userlistings}" METHOD="POST">
							<li class="nav-item"><button class="btn btn-dark"
									th:value="${user.Id}" th:name="searchWord">Your
									listings</button></li>
						</form>
						<form th:action="@{/listings/search/watched}" METHOD="POST">
							<li class="nav-item"><button class="btn btn-dark"
									th:value="${user.Id}" th:name="searchWord">Watched</button></li>
						</form>
						<form th:action="@{users/viewUser}" METHOD="POST">
							<li class="nav-item"><button class="btn btn-dark"
									th:value="${user.Id}" th:name="Id">Your profile</button></li>
						</form>
						<form th:action="@{/}">
							<li class="nav-item"><button class="btn btn-dark">Logout
								</button></li>
						</form>
					</div>
					<form th:action="@{/}">
						<li class="nav-item"><button class="btn btn-dark">About
							</button></li>
					</form>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container">
		<!-- Heading Row -->
		<form th:action="@{/listings/search/standard}" method="POST">
			<div class="row align-items-center my-5">
				<div class="input-group md-form form-sm form-2 pl-0">
					<input class="form-control my-55 py-1 red-border" type="text"
						placeholder="Search" aria-label="Search" th:name="searchWord">
					<div class="input-group-append">
						<button id="basic-text1">
							<i class="fas fa-search text-grey" aria-hidden="true">Search</i>
						</button>
					</div>
		</form>
	</div>

	<div class="row"></div>
	<div class="row align-items-center my-5"
		sec:authorize="!hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
		<div class="col-lg-7">
			<img class="img-fluid rounded mb-4 mb-lg-0"
				src="http://placehold.it/900x400" alt="">
		</div>
		<!-- /.col-lg-8 -->
		<div class="col-lg-5">
			<h1 class="font-weight-light">Wrench Marketplace</h1>
			<p>Your local marketplace for car parts, tools and specialized
				accessories you cannot come accross easily!</p>
			<a class="btn btn-primary" th:href="@{/users/createNewUser}">Sign
				up to list an item!</a>
		</div>
	</div>
	</div>

	</div>

	<!-- /.row -->

	<div class="col-lg-8">
		<h1 class="font-weight-light" align="right">Browse by categories:
		</h1>
	</div>

	<!-- Content Row -->

	<form method="POST" th:action="@{/listings/search/category}">
		<div class="row" th:each="category: ${categories}">
			<button class="btn btn-secondary btn-lg btn-block"
				th:value="${category.name}" th:text="${category.name}"
				th:name="searchWord"></button>

		</div>
	</form>
	</div>
	<!-- /.row -->

	</div>
	<!-- /.container -->

	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Your
				Website 2019</p>
		</div>
		<!-- /.container -->
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
