<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" th:href="@{/css/bootstrap-grid.css}" />

<link rel="stylesheet" th:href="@{/css/bootstrap-grid.min.css}" />

<link rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}" />

<link rel="stylesheet" th:href="@{/css/bootstrap-reboot.min.css}" />

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />

<link rel="stylesheet" th:href="@{/css/small-business.css}" />


<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Wrench Marketplace</title>

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}">WRENCH MARKETPLACE</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<form th:action="@{/}">
						<li class="nav-item"><button class="btn btn-dark">Home
							</button></li>
					</form>
					<div class="collapse navbar-collapse"
						sec:authorize="!hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">

						<form th:action="@{/showLogin}">
							<li class="nav-item"><button class="btn btn-dark">Login
								</button></li>
						</form>
						<form th:action="@{/users/createNewUser}">
							<li class="nav-item"><button class="btn btn-dark">Register
								</button></li>
						</form>
					</div>
					<div class="collapse navbar-collapse"
						sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">

						<form th:action="@{/listings/createNewListing}">
							<li class="nav-item"><button class="btn btn-dark">Create
									new listing</button></li>
						</form>
						<form th:action="@{/listings/search}">
							<li class="nav-item"><button class="btn btn-dark"
									th:value="${user.Id}" th:name="searchWord">Your
									listings</button></li> <input type="hidden" th:name="type"
								th:value="userlistings"></input>
						</form>
						<form th:action="@{/listings/search}">
							<li class="nav-item"><button class="btn btn-dark"
									th:value="${user.Id}" th:name="searchWord">Watched</button></li> <input
								type="hidden" th:name="type" th:value="watched"></input>
						</form>
						<form th:action="@{/users/viewUser}">
							<li class="nav-item"><button class="btn btn-dark"
									th:value="${user.Id}" th:name="Id">Your profile</button></li>
						</form>
					</div>
					<form th:action="@{/logout}">
							<li class="nav-item"><button class="btn btn-dark">Logout
								</button></li>
						</form>
					<form th:action="@{/}">
						<li class="nav-item"><button class="btn btn-dark">About
							</button></li>
					</form>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="col align-items-center my-2">
			<div class="row">
				<div class="row-md-3 mb-3">
					<div class="row align-items-center my-2">
						<div class="list-group col">

							<h1 class="list-group-item list-group-item-dark"
								th:text="${listing.title}"></h1>
							<h1 class="list-group-item list-group-item-dark"
								th:text="${listing.price}">EUR</h1>
							<h1 class="list-group-item list-group-item-dark"
								th:text="${listing.title}"></h1>
							<h1 class="list-group-item list-group-item-dark"
								th:text="${listing.phoneNumber}"></h1>

							<form th:action="@{/listings/edit}">
								<h3 class="nav-item" th:if="${isOwner} and ${isUserLoggedIn}">
									<button class="btn btn-dark" th:value="${listing.Id}"
										th:name="Id">Edit listing</button>
								</h3>
							</form>
							<form th:action="@{/listings/watch}">
								<h3 class="nav-item" th:if="${isOwner} and ${isUserLoggedIn}">
									<button class="btn btn-dark" th:value="${listing.Id}"
										th:name="Id" th:if="${isWatched}">Remove from watch
										list</button>
									<button class="btn btn-dark" th:value="${listing.Id}"
										th:name="Id" th:if="${!isWatched}">Add to watch list</button>
								</h3>
							</form>

							<form th:action="@{/listings/deleteListing}" METHOD="POST">
								<h3 class="nav-item" th:if="${isOwner}">
									<button class="btn btn-dark" th:value="${user.Id}"
										th:name="searchWord">Delete listing</button>
								</h3>
							</form>

							<h6 class="list-group-item list-group-item-dark"
								th:text="${listing.description}"></h6>
						</div>
					</div>
				</div>
				<div class="col-lg-7">
					<div th:each="image: ${imageRoutes}">
						<img class="img-fluid rounded mb-4 mb-lg-6"
							th:src="@{${image.imageRoute}}" height="600" width="800" alt="">
					</div>
				</div>
			</div>
		</div>