<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" th:href="@{/css/bootstrap-grid.css}" />

<link rel="stylesheet" th:href="@{/css/bootstrap-grid.min.css}" />

<link rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}" />

<link rel="stylesheet" th:href="@{/css/bootstrap-reboot.min.css}" />

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />

<link rel="stylesheet" th:href="@{/css/small-business.css}" />


<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Wrench Marketplace</title>

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">WRENCH MARKETPLACE</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Home</a>
					</li>
					<div class="collapse navbar-collapse"
						sec:authorize="!hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/showLogin}">Login</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/users/createNewUser}">Register</a></li>
					</div>
					<div class="collapse navbar-collapse"
						sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
						<li class="nav-item"><a class="nav-link" href="#">Your
								listings</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Watched</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="#">Settings</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="#">Logout</a>
						</li>
					</div>
					<li class="nav-item"><a class="nav-link" href="#">About</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="col align-items-center my-2">
			<div class="row">
				<div class="row-md-3 mb-3">
					<div class="row align-items-center my-2">
						<div class="list-group col">

							<h1 class="list-group-item list-group-item-dark"
								th:text="${listing.title}"></h1>
							<h1 class="list-group-item list-group-item-dark"
								th:text="${listing.price}">EUR</h1>
							<h1 class="list-group-item list-group-item-dark"
								th:text="${listing.title}"></h1>
							<h1 class="list-group-item list-group-item-dark"
								th:text="${listing.phoneNumber}"></h1>
							<h3 class="list-group-item list-group-item-dark">
								<a th:href="@{/listings/deleteListing/{id}(id=${listing.Id})}"
									class="list-group-item list-group-item-dark" th:if="${isOwner}">Edit
									listing</a>
							</h3>
							<h3 class="list-group-item list-group-item-dark">
								<a href="#" class="list-group-item list-group-item-dark"
									th:if="${!isOwner}">Report listing</a> <a
									th:href="@{/listings/deleteListing/{id}(id=${listing.Id})}"
									class="list-group-item list-group-item-dark" th:if="${isOwner}">Delete
									listing</a>
							</h3>

							<h6 class="list-group-item list-group-item-dark"
								th:text="${listing.description}"></h6>
						</div>
					</div>
				</div>
				<div class="col-lg-7">
					<div th:each="image: ${imageRoutes}">
						<img class="img-fluid rounded mb-4 mb-lg-6"
							th:src="@{${image.imageRoute}}" height="600" width="800" alt="">
					</div>
				</div>
			</div>
		</div>